<h3>Add your awesome homebrew:</h3>

<%= simple_form_for(@homebrew) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :date_brewed, required: true, include_blank: true %>
    <%= f.input :description %>
    <%= f.association :tags, as: :check_boxes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add my beer!" %>
  </div>
<% end %>
