<h3><%= "#{@homebrew.brewer_name}'s #{@homebrew.name}" %></h3>

<div>
  <%= "Brewed on: #{@homebrew.date_brewed}" %>
</div>

<div>
  <%= "Description: #{@homebrew.description}" %>
</div>

<div>
  <%= "Tags: #{@homebrew.tag_names}" %>
</div>

<div>
  <% @homebrew.reviews.each do |review| %>
    <div>
      <%= "#{review.rating} stars" %>
      <%= "by #{review.reviewer.full_name}" %>
      <% if !review.body.blank? %>
        <%= review.body %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="review-form">
  <%= simple_form_for([@homebrew, @review]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :rating, collection: 1..5, required: true, include_blank: true, autofocus: true %>
      <%= f.input :body, label: "Comments" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit" %>
    </div>
  <% end %>
</div>
